@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
#wrapper {
position: absolute;
overflow: auto;
height: 100%;
}
}

body {
background-color: #F1F3F5;
}
#back {
position: fixed;
right: 1%;
top: 10px;
padding: 5px;
background-color: #F1F3F5;
}
#changelog p:before {
content: "- ";
}
p {
margin-top: 2px;
margin-bottom: 2px;
}
.beta-link {
font-style: italic;
position: relative;
bottom: 20px;
}
h1 {
color: black;
}
h2 {
color: #555;
}
h3 {
color: #666;
font-style: italic;
}
h4 {
margin: 15px 0px;
color: grey;
font-style: italic;
}
#changelog div {
margin: 5px 12px 10px 12px;
}
#changelog > div {
margin: 0px;
}
#changelog div:target {
padding: 5px;
border: 1px dashed red;
}
#footer {
margin-top: 2%;
font-style: italic;
}